[Match]
Name=eth0

[Address]
Address=172.16.42.1/24
Scope=link

[Network]
DHCP=false
DNS=208.67.222.222
DNS=1.1.1.1
DHCPServer=yes
LinkLocalAddressing=no
IPv6AcceptRA=no

[DHCPServer]
EmitRouter=yes
EmitDNS=yes
DNS=208.67.222.222
DNS=1.1.1.1
PoolOffset=100
PoolSize=100
DefaultLeaseTimeSec=86400
MaxLeaseTimeSec=86400