Source: wlanpi-hotspot
Section: embedded
Priority: optional
Maintainer: Jiri Brejcha <jirka@jiribrejcha.net>
Build-Depends: debhelper (>=9), build-essential, hostapd
Standards-Version: 3.9.8
Homepage: https://github.com/WLAN-Pi/wlanpi-hotspot

Package: wlanpi-hotspot
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${shlibs:Depends},
         hostapd
Description: WLAN Pi simple hotspot
 WLAN Pi simple hotspot.
