Source: wlanpi-server
Section: embedded
Priority: optional
Maintainer: Jiri Brejcha <jirka@jiribrejcha.net>
Uploaders: Adrian Granados <adrian@intuitibits.com>, Josh Schmelzle <josh@joshschmelzle.com>, Nigel Bowden <wifinigel@gmail.com>
Build-Depends: debhelper (>=9), build-essential
Standards-Version: 3.9.8
Homepage: https://github.com/WLAN-Pi/wlanpi-server

Package: wlanpi-server
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, hostapd, isc-dhcp-server, ser2net
Description: WLAN Pi - server mode for RPi/CM4 hardware
 Server mode for the WLAN Pi RPi/CM4 hardware.
